{% extends "custom-base.twig" %}
{% block content %}

<p>New feedback from {{ first_name }} {{ last_name }}:</p>
<p>Phone: {{ phone }}</p>
<p>Email: {{ email }}</p>
<p>Details: </p>
<p>{{ details }}</p>

<p>בהצלחה,</p>
<p>צוות BDO</p>
{% endblock %}
